@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

.content-green {
  background: #7ac751;
  max-height: 90px;
}
.contenier {
  font-family: "Montserrat", sans-serif;
  max-width: 1170px;
  margin: auto;
}
.contenier-beginning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.contenier-welcome {
  margin: 15px 0;
}

.contenier-info {
  display: flex;
  align-items: center;
}

.login {
  text-decoration: none;
  color: #ffffff;
}
.currency {
  display: flex;
  margin: auto 20px;
  align-items: center;
}

.currency-choice-img {
  max-height: 7px;
  margin-left: 8px;
  margin-right: 20px;
}

.division {
  display: block;
  width: 2.3px;
  height: 20px;
  background-color: #ffffff;
}

.content-wheit {
  background: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  padding: 21px 0 25px 0;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
}
.logo-image {
  max-height: 38px;
}

.logo-name {
  color: #555555;
  font-weight: 600;
  margin-left: 5px;
}

.search-form {
  margin-left: 120px;
  display: flex;
  max-width: 585px;
  flex-grow: 1;
  position: relative;
}
.search-input {
  background-color: transparent;
  border-top: 2.5px solid #7ac751;
  border-left: 2.5px solid #7ac751;
  border-bottom: 2.5px solid #7ac751;
  border-right: 1.5px solid #e3e3e3;
  border-radius: 8px 0 0 8px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.search-block {
  display: flex;
  align-items: center;
  border-top: 2.5px solid #7ac751;
  border-bottom: 2.5px solid #7ac751;
  border-radius: 0 8px 8px 0;
}

.search-choice-img {
  margin-left: 13px;
  margin-right: 20px;
  margin-bottom: 3px;
}
.search-categories {
  color: #555555;
  font-size: 14px;
  margin-left: 10px;
}
.search-choice {
  margin-right: 55px;
}
.search-button {
  background-color: #7ac751;
  position: absolute;
  border-radius: 0 8px 8px 0;
  right: 0px;
  top: 0px;
  height: 100%;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
}
.cards-icons {
  display: flex;
}
.shopping-cart {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 170px;
  margin-right: 30px;
}
.shopping-cart-img {
  max-width: 25px;
  max-height: 25px;
  margin-top: 1px;
  margin-right: 8px;
}

.shopping-counter {
  right: 0px;
  top: 0px;
  position: absolute;
  background: #7ac751;
  font-size: 7px;
  line-height: 4px;
  color: #ffffff;
  display: block;
  padding: 4px;
  border-radius: 50%;
}
.notification {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-img {
  max-height: 25px;
  max-width: 22px;
}
.person {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 27px;
}
.person-img {
  max-height: 25px;
  max-width: 20px;
  margin-right: 10px;
}
.wrapper {
  position: relative;
  width: 260px;
  height: 521px;
}
.menu a {
  text-decoration: none;
}
.menu li {
  position: relative;
  list-style: none;
}
.menu-list:hover .sub-menu-list {
  display: block;
}
.menu-list {
  display: flex;
  align-items: center;
  background-color: #7ac751;
  width: 100%;
  height: 67px;
}
.sub-menu-list {
  /*display: none;*/
  position: absolute;
  left: 0;
  top: 30px;
  padding: 37px 0 0 0;
  width: 100%;
}
.sub-menu-list > li {
  background-color: #f7f8fa;
}

.name-link {
  color: #555555;
  font-size: 15px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 14px;
  display: block;
  transition: color 0.2s linear;
}
.name-link:hover {
  color: #7ac751;
}
.border {
  border-bottom: 1px solid #e3e3e3;
}

.all {
  width: 18px;
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
  margin-right: 20px;
}
.all-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.content-all {
  display: flex;
}
.menu-categories {
  display: flex;
  background-color: #f7f8fa;
  width: 100%;
  height: 67px;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 45px;
}
.categories-link {
  text-decoration: none;
  margin: 0 31px;
  color: #555555;
  transition: color 0.2s linear;
}
.categories-link:hover {
  color: #7ac751;
}
.page-top {
  display: flex;
  background: linear-gradient(
    103.4deg,
    rgba(241, 250, 255, 0.88) 0.89%,
    #f1faff 101.61%
  );
  width: 100%;
  max-height: 469px;
  margin-top: 12px;
  margin-left: 11px;
}
.top-title {
  max-width: 324px;
  margin-left: 47px;
  margin-right: 16px;
}
.text-green {
  color: #7ac751;
  font-size: 22px;
  margin-top: 73px;
  margin-bottom: 6px;
}
.title {
  color: #2f2f2f;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: -12px;
}
.line-green {
  margin-left: 135px;
  max-width: 191px;
}
.title-grey {
  font-family: "Mulish", sans-serif;
  color: rgba(81, 81, 81, 0.71);
  font-size: 27px;
  margin-top: 29px;
  margin-bottom: 35px;
}
.button {
  background-color: #7ac751;
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
}
.button-shop {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  transition: color 0.1s linear;
}

.button-shop:hover {
  color: #2f2f2f;
  font-weight: bold;
}
.furniture-img {
  width: 374px;
  margin-top: 36px;
  margin-bottom: 29px;
}
.top-img-contenier {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  margin-bottom: 58px;
  margin-right: 40px;
}
.top-img-variant {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.56) 100%
  );
  border: 2px solid #ffffff;
  border-radius: 8px;
  margin-bottom: 25px;
  cursor: pointer;
}
.variant-img {
  width: 100%;
  object-fit: contain;
}
.price {
  color: #7ac751;
  font-size: 11px;
  font-weight: bold;
  margin: 0 35px;
}
.variant-name {
  color: #555555;
  font-size: 7px;
  font-weight: bold;
  margin: 5px auto;
  text-align: center;
}
.desk {
  max-width: 49px;
  max-height: 53px;
  margin: 5px 24px 0px 24px;
}
.sofa {
  max-width: 73px;
  max-height: 53px;
  margin: 4px 9px 0 9px;
}
.chair {
  max-width: 51px;
  max-height: 57px;
  margin: 2px 23px 0 23px;
}
.feature {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  align-items: center;
}
.shipping {
  max-width: 208px;
  max-height: 58px;
}
.card-img {
  max-height: 58px;
  max-width: 58px;
}
.shipping-content-text {
  margin-left: 15px;
}
.shipping-title {
  color: #555555;
  font-size: 19px;
  font-weight: bold;
}
.card-info {
  color: rgba(81, 81, 81, 0.71);
  font-size: 13px;
}

.gift-card {
  max-width: 224px;
  max-height: 58px;
}
.payment {
  max-width: 222px;
  max-height: 58px;
}
.support {
  max-width: 205px;
  max-height: 58px;
}
.offer {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}
.offer-section {
  width: 100%;
  margin-right: 18px;
}
.offer-minisection {
  max-width: 485px;
  width: 100%;
}
.card-offer {
  position: relative;
  overflow: hidden;
}
.offer-modern {
  max-width: 669px;
  min-height: 511px;
}
.card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}
.card-header {
  margin-left: 31px;
}
.card-miniheader {
  margin-left: 24px;
}
.card-title {
  color: #555555;
  font-size: 22px;
  margin-top: 49px;
}
.card-title-minisection {
  color: #555555;
  font-size: 21px;
  margin-top: 49px;
}
.card-description {
  color: #7ac751;
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
}
.card-mini-description {
  color: #7ac751;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.card-bigger {
  margin-top: 13px;
}
.button-bigger {
  color: #757575;
  font-size: 16px;
}
.button-bigger {
  text-decoration: none;
}
.bigger-vector {
  max-width: 11px;
  max-height: 9px;
  align-items: center;
}
.offer-geometric {
  max-width: 485px;
  min-height: 247px;
  margin-bottom: 17px;
}
.offer-minimal {
  max-width: 485px;
  min-height: 247px;
}
.trending-title {
  color: rgba(85, 85, 85, 1);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 45px;
  text-transform: uppercase;
}
.trending-catagory {
  display: flex;
  justify-content: center;
  margin-bottom: 73px;
}
.category-products {
  font-family: "Mulish", sans-serif;
  color: #c2c2c2;
  font-size: 24px;
  margin-right: 70px;
  text-decoration: none;
}
.category-products:hover {
  color: #7ac751;
  font-weight: bold;
}
.trending-bloсk {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trending-chair {
  position: relative;
  max-width: 270px;
  margin-bottom: 45px;
}
.chair-image {
  width: 100%;
  position: relative;
}
.chair-new {
  background-color: #00b7f1;
  color: #ffffff;
  font-size: 12px;
  width: 45px;
  height: 19px;
  justify-content: center;
  border-radius: 0 0 5px 0;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.chair-sale {
  background-color: #7ac751;
  color: #ffffff;
  font-size: 12px;
  width: 45px;
  height: 19px;
  justify-content: center;
  border-radius: 0 0 5px 0;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.chair-text {
  font-family: "Mulish", sans-serif;
  color: rgba(117, 117, 117, 0.71);
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 9px;
}
.chair-name {
  font-family: "Rubik", sans-serif;
  color: rgba(85, 85, 85, 1);
  font-size: 20px;
  margin-bottom: 8px;
}
.chair-price {
  font-family: "Mulish", sans-serif;
  color: #7ac751;
  font-size: 18px;
  font-weight: bold;
  margin-right: 7px;
}
.prace {
  display: flex;
}
.chair-price-old {
  font-family: "Mulish", sans-serif;
  color: #cccccc;
  font-size: 18px;
  text-decoration: line-through;
  margin-right: 96px;
}
.price-star {
  display: flex;
}
.trending-card {
  overflow: hidden;
  max-height: 293px;
  position: relative;
}

.link-image {
  width: 16px;
  height: auto;
  padding-top: 9px;
}
.cards-submenu {
  display: flex;
  flex-direction: column;
  top: 124px;
  right: 22px;
  list-style: none;
  width: 8%;
  text-align: center;
  position: absolute;
  display: none;
}

.trending-card:hover .cards-submenu {
  display: block;
}
.image-block {
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 5px;
  /*text-align: center;
  margin-bottom: 8px;*/
}
.image-block:hover {
  background-color: #99e072;
}

.special-offer-room {
  width: 570px;
  height: 250px;
  position: relative;
}
.living-img {
  max-width: 100%;
}

.special-offer-new {
  font-family: "Mulish", sans-serif;
  background-color: #00b7f1;
  color: #ffffff;
  font-size: 12px;
  width: 64px;
  height: 21px;
  justify-content: center;
  border-radius: 0 0 0 5px;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.special-offer-card {
  position: absolute;
  top: 28px;
  left: 24px;
}
.special-offer-title {
  color: #555555;
  font-size: 22px;
  margin-bottom: 11px;
}
.special-offer-text {
  color: #757575;
  font-size: 12px;
  max-width: 245px;
  margin-bottom: 23px;
}
.special-offer-price {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}
.offer-price-new {
  font-family: "Mulish", sans-serif;
  color: #7ac751;
  font-size: 18px;
  font-weight: bold;
  margin-right: 7px;
}
.offer-price-old {
  font-family: "Mulish", sans-serif;
  color: #cccccc;
  font-size: 18px;
  text-decoration: line-through;
  margin-right: 19px;
}
.offer-shop {
  background-color: #7ac751;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 2px;
  text-transform: uppercase;
}
.special-offer-time {
  display: flex;
}
.offer-time-block {
  font-family: "Rubik", sans-serif;
  background-color: #7ac751;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 18px;
}
.number {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 10px 0 11px;
}
.description {
  color: #ffffff;
  font-size: 6px;
  padding: 0 10px 7px 12px;
  text-transform: uppercase;
}
.special-offer-block {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 120px;
}
.title-block {
  margin-bottom: 90px;
}
.testimonials-card-grey {
  background-color: #f8fafb;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  max-width: 816px;
  height: 312px;
}
.testimonials-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonials-foto {
  width: 88px;
  height: 88px;
}
.testimonials-human {
  position: absolute;
  top: -40px;
  margin-left: 364px;
}

.testimonials-card-grey {
  position: relative;
  text-align: center;
}
.testimonials-text {
  margin: 80px 125px 32px 125px;
  color: #515151;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.005em;
}
.testimonials-name {
  font-size: 24px;
  font-weight: 600;
  color: #555555;
  margin-bottom: 8px;
}
.testimonials-description {
  font-family: "Rubik", sans-serif;
  color: #515151;
  font-size: 16px;
}
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  height: 38px;
  width: 100%;
  cursor: pointer;
}
.icon-left {
  margin-right: 56px;
}
.icon-right {
  margin-left: 56px;
}
.block-distant {
  margin-bottom: 56px;
}
.post-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.post-img {
  max-width: 569px;
  height: 100%;
}
.post-card {
  position: relative;
  margin-bottom: 22px;
}
.post-content {
  position: absolute;
  top: 250px;
  left: 46px;
}
.tag-furniture {
  display: flex;
  align-items: center;
  background-color: #f8fafb;
  border-radius: 3px;
  max-width: 101px;
  max-height: 24px;
  padding-right: 6px;
}
.tag-text {
  color: #7ac751;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
.tag-img {
  width: 13px;
  height: 13px;
  margin: 5px 3px 5px 8px;
}
.post {
  display: flex;
  align-items: center;
}
.post-data {
  margin-left: 6px;
  color: #ffffff;
  font-size: 14px;
}
.post-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  max-width: 490px;
  margin-top: 20px;
}
.post-read {
  margin-top: 30px;
}
.post-button {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.post-vector {
  max-width: 12px;
  max-height: 10px;
  align-items: center;
}
.block-component {
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 124px;
  margin-bottom: 59px;
}
.component-text {
  color: #555555;
  font-size: 16px;
  line-height: 32px;
  max-width: 318px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.networking {
  margin-right: 34px;
  text-decoration: none;
}
.image-facebook {
  width: 8px;
  height: 17px;
}
.image-twitter {
  width: 17px;
  height: 13px;
}
.image-instagram {
  width: 16px;
  height: 16px;
}
.image-pinterest {
  width: 13px;
  height: 17px;
}
.component-footer {
  display: flex;
  flex-direction: column;
}
.component-footer a {
  text-decoration: none;
  color: #555555;
  font-size: 18px;
  line-height: 40px;
}
.title-help {
  font-weight: bold;
}
.futer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: "Rubik", sans-serif;
}
.futer-section {
  border-top: 1px solid #969696;
}
.futer-text {
  color: #555555;
  font-size: 14px;
}
.info-text {
  margin-left: 52px;
  color: #555555;
  font-size: 14px;
  text-decoration: none;
}

/*Responsive*/

/* 992 - 1200 */
@media screen and (max-width: 1200px) {
  .contenier {
    width: 960px;
    padding: 0 10px;
  }
  .search-form {
    margin-left: 60px;
  }
  .shopping-cart {
    margin-left: 60px;
  }
  .abaut-toplist {
    width: 80%;
  }
  .page-top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .top-title {
    max-width: 100%;
    margin: 0;
    text-align: center;
  }
  .text-green {
    margin-top: 15px;
  }
  .title {
    font-size: 33px;
  }
  .line-green {
    margin-left: 369px;
    max-width: 148px;
  }
  .title-grey {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .furniture-img {
    width: 258px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .top-img-contenier {
    flex-direction: row;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
  }
  .top-img-variant {
    margin-right: 10px;
  }

  .trending-title {
    margin-top: 80px;
  }
  .trendibg-bloсk {
    justify-content: space-evenly;
  }
  .special-offer-block {
    flex-direction: column;
    align-items: center;
  }
  .special-offer-room {
    margin-bottom: 20px;
  }
}

/* 768 - 992 */
@media screen and (max-width: 992px) {
  .contenier {
    width: 720px;
  }
  .contenier-beginning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contenier-info {
    margin-bottom: 15px;
  }
  .currency {
    margin: auto 20px auto 10px;
  }
  .logo {
    font-size: 20px;
    width: 50%;
  }
  .logo-image {
    max-height: 32px;
  }
  .cards-icons {
    justify-content: flex-end;
    max-width: 100%;
  }
  .header {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .search-form {
    order: 5;
    margin-top: 20px;
    max-width: 100%;
    margin-left: 0;
  }
  .shopping-cart {
    margin-left: 60%;
  }
  .all {
    margin-left: 15px;
  }

  .name-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .menu-categories {
    margin-left: 0;
  }
  .categories-link {
    margin: 0 15px;
  }
  .page-top {
    max-height: 580px;
  }
  .furniture-img {
    width: 210px;
    margin-bottom: 5px;
  }
  .top-img-contenier {
    margin-right: 0;
    margin-left: 0;
  }
  .contenier-page {
    max-width: 486px;
    padding: 15px 0;
  }
  .top-title {
    max-width: 100%;
    margin-left: 0;
  }
  .title {
    font-size: 28px;
  }
  .line-green {
    margin-left: 316px;
    max-width: 130px;
  }
  .title-grey {
    font-size: 20px;
    margin-top: 5px;
  }
  .contenier-top {
    max-height: 560px;
  }
  .button {
    padding: 10px 180px;
  }
  .top-img-contenier {
    margin-right: 15px;
    margin-left: 0;
  }
  .top-img-variant {
    margin-bottom: 15px;
  }
  .feature {
    margin-top: 35px;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    width: 550px;
  }
  .card {
    width: 280px;
    margin-top: 20px;
  }
  .card-miniheader {
    width: 50%;
  }
  .card-title-minisection {
    font-size: 19px;
  }
  .card-mini-description {
    font-size: 16px;
  }
  .testimonials-human {
    margin-left: 240px;
  }
  .testimonials-text {
    margin: 80px 100px 30px 100px;
  }
  .component-text {
    font-size: 15px;
    line-height: 28px;
    max-width: 245px;
  }
  .title-help {
    margin-bottom: 19px;
  }
  .component-footer a {
    font-size: 17px;
    line-height: 38px;
  }
}

/* 576 - 768 */
@media screen and (max-width: 768px) {
  .contenier {
    width: 540px;
  }
  .shopping-cart {
    margin-left: 40%;
  }
  .contenier-menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  .collections {
    order: 3;
    width: 100%;
    justify-content: center;
  }
  .wrapper {
    width: 65px;
  }
  .all {
    margin: 0 0 0 22px;
  }
  .all-title {
    display: none;
  }
  .menu-list {
    width: 100%;
    height: 55px;
  }
  .sub-menu-list {
    display: none;
    padding: 27px 0 0 0;
    width: 255%;
  }
  .menu-categories {
    padding-left: 0;
    height: 55px;
    font-size: 12px;
  }
  .categories-link {
    margin: 0 20px;
    padding: 15px 0;
  }
  .abaut-toplist {
    width: 89%;
  }
  .contenier-top {
    flex-direction: column;
    max-height: 650px;
  }
  .feature {
    width: 40%;
    justify-content: center;
  }
  .shipping-title {
    font-size: 16px;
  }
  .collections-name {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  .name-list {
    padding: 0 20px;
  }
  .contenier-page {
    max-width: 100%;
    margin-left: 0;
  }
  .page-top {
    margin-left: -63px;
    width: 114%;
    text-align: center;
  }
  .card-description {
    font-size: 18px;
  }
  .chair-name {
    font-size: 18px;
  }
  .offer {
    flex-wrap: wrap;
  }
  .offer-minisection {
    max-width: 100%;
  }
  .offer-geometric {
    max-width: 100%;
  }
  .offer-section {
    margin: 0;
  }
  .offer-modern {
    margin-bottom: 17px;
  }
  .offer-minimal {
    max-width: 100%;
  }
  .trending-title {
    font-size: 24px;
    margin-top: 60px;
  }
  .trending-catagory {
    margin-bottom: 60px;
  }
  .category-products {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .trending-chair {
    max-width: 49%;
  }
  .special-offer-title {
    font-size: 18px;
  }
  .special-offer-block {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .testimonials-text {
    margin: 50px 20px;
    font-size: 14px;
  }
  .testimonials-name {
    font-size: 20px;
  }
  .testimonials-human {
    margin-left: 170px;
    top: -50px;
  }
  .post-img {
    max-width: 470px;
  }
  .post-content {
    top: 205px;
    left: 24px;
  }
  .post-title {
    font-size: 22px;
  }
  .block-component {
    flex-direction: column;
  }
  .component-text {
    max-width: 100%;
  }
  .component-sosmed {
    padding: 10px 0;
    text-align: center;
  }
  .title-help {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .component-footer {
    align-items: center;
  }
  .component-text {
    text-align: center;
  }
  .logo-footer {
    justify-content: center;
    width: 100%;
  }
  .futer-text {
    width: 24%;
  }
}

/* 0 - 576 */
@media screen and (max-width: 576px) {
  .contenier {
    width: 90%;
  }
  .contenier-beginning {
    font-size: 90%;
  }
  .currency-English {
    width: 60px;
  }
  .auth {
    width: 85px;
  }
  .header {
    justify-content: center;
  }
  .logo-image {
    max-height: 20px;
  }
  .logo-name {
    font-size: 12px;
  }
  .logo {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
  }
  .cards-icons {
    margin: 0 45px;
  }
  .search-categories {
    font-size: 12px;
  }
  .shopping-cart {
    margin: 25px 18px;
  }
  .content-all {
    flex-direction: column;
  }
  .wrapper {
    width: 100%;
    height: 35px;
  }
  .menu {
    height: 100%;
  }
  .menu-categories {
    height: 65px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .categories-link {
    padding: 5px 0;
  }
  .menu-list {
    height: 100%;
  }
  .all {
    height: 13px;
  }
  .sub-menu-list {
    top: 8px;
    width: 100%;
  }
  .name-link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }
  .abaut-toplist {
    width: 100%;
  }
  .page-top {
    margin-left: 0;
    width: 100%;
  }
  .text-green {
    margin-top: 25px;
    font-size: 11px;
  }
  .title {
    font-size: 18px;
  }
  .title-grey {
    font-size: 16px;
  }
  .button-shop {
    font-size: 13px;
  }
  .notification {
    margin: 0 50px;
    padding: 25px 0;
  }
  .person {
    margin: 0 12px;
    padding: 25px 0;
  }
  .search-form {
    flex-direction: column;
    margin-top: 0;
  }
  .search-input {
    border-radius: 8px 8px 0 0;
  }
  .search-block {
    border-left: 2.5px solid #7ac751;
    border-radius: 0 8px 8px 8px;
    border-top: none;
    padding: 5px;
  }
  .collections-name {
    justify-content: center;
  }
  .line-green {
    margin-left: 202px;
    max-width: 85px;
  }
  .button {
    padding: 6px 85px;
  }
  .furniture-img {
    width: 55%;
  }
  .top-img-contenier {
    width: 90%;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: space-between;
  }
  .desk {
    max-width: 35px;
    margin: 5px 20px 0 20px;
  }
  .sofa {
    max-width: 56px;
    max-width: 4px 7px 0 7px;
  }
  .chair {
    max-width: 36px;
    margin: 2px 20px 0 20px;
  }
  .price {
    font-size: 10px;
    margin: 0 25px;
  }
  .feature {
    width: 80%;
  }
  .top-img-variant {
    margin-right: 0;
  }
  .contenier-top {
    max-height: 725px;
  }
  .card {
    max-width: 100%;
  }
  .card-img {
    height: 35px;
  }
  .offer-section {
    width: 100%;
  }
  .offer-modern {
    max-width: 100%;
    min-height: 250px;
  }
  .card-title {
    font-size: 18px;
  }
  .card-description {
    font-size: 16px;
  }
  .card-miniheader {
    width: 66%;
  }
  .trending-bloсk {
    flex-direction: column;
    align-items: center;
  }
  .trending-catagory {
    margin-bottom: 40px;
  }
  .trending-chair {
    max-width: 85%;
  }
  .chair-name {
    font-size: 16px;
  }
  .price-star {
    justify-content: space-between;
  }
  .special-offer-block {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .special-offer-room {
    width: 100%;
    height: 50%;
  }
  .special-offer-card {
    top: 10px;
  }
  .chair-price {
    font-size: 14px;
  }
  .chair-price-old {
    font-size: 14px;
  }
  .special-offer-title {
    font-size: 14px;
  }
  .special-offer-text {
    display: none;
  }
  .special-offer-price {
    margin-bottom: 15px;
  }
  .offer-price-new {
    font-size: 12px;
  }
  .offer-price-old {
    font-size: 12px;
  }
  .offer-shop {
    padding: 5px 35px;
  }
  .offer-time-block {
    width: 30px;
    height: 30px;
  }
  .title-block {
    margin-bottom: 70px;
  }
  .number {
    padding: 4px 5px 0 8px;
    font-size: 12px;
  }
  .description {
    padding: 0 0 0 8px;
  }
  .trending-title {
    font-size: 20px;
    margin-top: 40px;
  }
  .testimonials-foto {
    width: 75px;
    height: 75px;
  }
  .testimonials-text {
    font-size: 12px;
    margin: 50px 20px 30px 20px;
  }
  .testimonials-name {
    font-size: 16px;
  }
  .testimonials-content {
    flex-direction: column;
  }
  .testimonials-card-grey {
    height: 273px;
    width: 100%;
  }
  .testimonials-description {
    font-size: 14px;
  }
  .testimonials-human {
    margin-left: 43%;
    top: -39px;
  }
  .testimonials {
    position: relative;
    margin-bottom: 100px;
  }
  .icon-left {
    position: absolute;
    top: 295px;
    left: 25px;
  }
  .icon-right {
    position: absolute;
    top: 295px;
    right: 25px;
  }
  .icon {
    height: 33px;
  }
  .block-distant {
    margin-bottom: 40px;
  }
  .post-cards {
    flex-direction: column;
    align-items: center;
  }
  .post-card {
    width: auto;
  }
  .post-img {
    max-width: 100%;
  }
  .post-content {
    top: 53px;
  }
  .tag-img {
    width: 12px;
    height: 12px;
  }
  .tag-text {
    font-size: 11px;
  }
  .post-data {
    font-size: 12px;
  }
  .post-title {
    font-size: 18px;
  }
  .block-component {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .component-text {
    font-size: 13px;
    line-height: 25px;
  }
  .networking {
    margin-right: 0;
    padding: 0 20px;
  }
  .component-footer a {
    font-size: 14px;
    line-height: 35px;
  }
  .futer-card {
    flex-direction: column;
  }
  .futer-section {
    width: 100%;
  }
  .futer-card {
    width: 100%;
  }
  .futer-text {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 11px;
  }
  .futer-info {
    width: 100%;
    text-align: center;
  }
  .info-text {
    margin-left: 0;
    padding: 0 20px;
    font-size: 12px;
  }

  .category-products {
    font-size: 16px;
  }
  .tre .shipping-title {
    font-size: 14px;
  }
  .card-info {
    font-size: 11px;
  }
}
