@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}


.content {
  background: #7ac751;
  max-height: 90px;
  
  
}
.contenier {
  font-family: "Montserrat", sans-serif;
  width: 1170px;
  margin: auto;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  Font size: 16px;
} 
.contenier-welcome{
  margin: 15px 0;
}

.contenier-info{
  display: flex;
  align-items: center;
}  

.login {
  text-decoration: none;
  color: #FFFFFF;
}
.currency {
display: flex;
margin: auto 20px;
align-items: center;
}
.currency-choice{
  
}
.currency-choice-img {
  max-height: 7px;
  margin-left: 8px;
  margin-right: 20px;
  }

.division{
  display: block;
  width: 2.3px;
  height: 20px;
  background-color: #FFFFFF;
}
